h1{
    font-family:Arial, Helvetica, sans-serif;
     
}
body{
    background-color: cornflowerblue;
    border: 2px solid black;

}
nav{
    border: 2px solid black;
    text-align: center;
    color:white;
}
 a:link{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
 }

 a:hover{ 
    text-decoration: underline;
    font-size: 24px;
    color: white;
    background-color: rosybrown;

}

ul{
    list-style-type: none;
}

li{
    color:white;
    font-size: 20px;
}
footer{
    border:2px;
    text-align: center;
    color:white
}


